#name{
    font-family:Georgia;
    border-bottom: solid 1px;
}

h2{
    font-weight: bold;
    border-bottom: solid 1px;
    font-family:Georgia;
}

.general-text{
    font-family:Arial;
}

.bold {
    font-weight: bold;
}

.sidebar {
    background-color: #f4f4f4;
    border: 2px solid #696969;
}